<!Doctype HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>CriandoLayout com DIV</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <div id="container">
            <div id="header" title="sitename">
                <center><h1>Site sem Nome</h1> </center>
            </div>
            <div id="mainnav">
                <ul>
                    <li><a href="#">Página 1</a></li>
                    <li><a href="#">Página 2</a></li>
                    <li><a href="#">Página 3</a></li>
                    <li><a href="#">Página 4</a></li>
                </ul>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="#">Janeiro 2022</a></li>
                    <li><a href="#">Feveriro 2022</a></li>
                    <li><a href="#">Março 2022</a></li>
                    <li><a href="#">Abril 2022</a></li>
                    <li><a href="#">Maio 2022</a></li>
                    <li><a href="#">Junho 2022</a></li>
                </ul>
            </div>
            <div id="contents"></div>
            <div id="footer"></div>
        </div>
        
    </body>

</html>