body {
        margin: 0;
        padding: 0;
        background: #ddd;
     }

#container 
    {
        margin: 1em auto;
        width: 100%;
        background: #fff; 
    }

#header
    {
        background: rgb(8, 237, 245);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

#mainnav
    {
        background-color: rgb(73, 185, 172);
    }

#menu
    {
        background-color: rgba(2, 209, 246, 0.602);
        float: right;
        width: 20%;
    }

#contents
    {
        float: left;
        width: 77%;
        background-color: azure;
        margin: 0 0 0 20px;
    }

#footer
    {
        clear: both;
        background-color: rgb(217, 217, 246);        
    }
    
    #footer1
    {
        float: left;
        width: 50%;      
    }
    #footer2
    {
        float: right;
        width: 50%;      
    }